#include <behaviors.dtsi> 
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer_1_2_3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        sd_shift: sd_shift {
            bindings = <&os_shift>;
            key-positions = <11 12>;
        };
        sd_caps: sd_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <11 12>;
            timeout-ms = <300>;
        };
        rt_lparen {
            bindings = <&kp LPAR>;
            key-positions = <3 4>;
            timeout-ms = <40>;
        };
        fg_lbrace {
            bindings = <&kp LBRC>;
            key-positions = <13 14>;
            timeout-ms = <40>;
        };
        vb_lbracket {
            bindings = <&kp LBKT>;
            key-positions = <23 24>;
            timeout-ms = <40>;
        };
        yu_rparen {
            bindings = <&kp RPAR>;
            key-positions = <5 6>;
            timeout-ms = <40>;
        };
        hj_rbracket {
            bindings = <&kp RBKT>;
            key-positions = <15 16>;
            timeout-ms = <40>;
        };
        nm_rbrace {
            bindings = <&kp RBRC>;
            key-positions = <25 26>;
            timeout-ms = <40>;
        };
        jk_esc {
            bindings = <&kp ESC>;
            key-positions = <16 17>;
            timeout-ms = <40>;
        };
        lsemi_grave {
            bindings = <&kp SQT>;
            key-positions = <18 19>;
            timeout-ms = <40>;
        };
    };

    behaviors {
        mt: mt {
            compatible = "zmk,behavior-mod-tap";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
        mtmo: behavior_mtmo {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&mo>;
        };
        os_shift: os_shift {
            compatible = "zmk,behavior-one-shot";
            label = "OS_SHIFT";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>;
        };
        caps_toggle: caps_toggle {
            compatible = "zmk,behavior-key-press";
            label = "CAPS_TOGGLE";
            bindings = <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W       &kp E        &kp R       &kp T           &kp Y      &kp U             &kp I            &kp O         &kp P
&kp A        &kp S       &kp D        &kp F       &kp G           &kp H      &kp J             &kp K            &kp L         &kp SEMI
&mt LSHFT Z  &mt LALT X  &mt LCTRL C  &mt LGUI V  &kp B           &kp N      &mt RGUI M        &mt RCTRL COMMA  &mt RALT DOT  &mt RSHFT FSLH
                        &kp LALT      &mo 1       &mt LGUI TAB    &kp SPACE  &mt LCTRL BSPC  &mt RSHFT RET
            >;
        };

        sym_layer {
            bindings = <
&kp EXCL   &kp AT    &kp STAR   &kp GRAVE  &kp TILDE    &kp N7  &kp N8  &kp N9  &kp PLUS   &trans
&kp HASH   &kp SQT   &kp DQT    &kp MINUS  &kp EQUAL    &kp N4  &kp N5  &kp N6  &kp MINUS  &kp COLON
&kp UNDER  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS     &kp N1  &kp N2  &kp N3  &kp BSLH   &trans
                     &trans     &trans     &trans       &trans  &kp N0  &kp DOT
            >;
        };

        nav_layer {
            bindings = <
&trans    &trans          &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1       &kp LS(LC(TAB)) &kp LG(LEFT)    &kp LG(RIGHT) &kp LC(TAB)      &kp LS(LG(N4))
&kp CAPS  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT    &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &kp LG(C)
&kp LSFT  &trans          &trans          &mkp MB2      &mkp MB1           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &kp LG(V)
                          &trans          &trans        &trans             &trans          &trans          &trans
            >;
        };

        misc_layer {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &trans      &trans        &trans        &trans      &trans
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP    &trans
&kp F11  &kp F12  &trans  &trans  &trans     &trans      &kp C_PREV    &kp C_NEXT    &kp C_STOP  &trans
                  &trans  &trans  &trans     &trans      &trans        &trans
            >;
        };
    };
};
